.col1, .col2, .col3, .cols {float:left}
.col2 {width:700px}

.pad_left1 {padding-left:50px}

h2 {font-size:28px;color:#3c4046;line-height:38px;padding:30px 0 16px 0;font-weight:400;letter-spacing:-1px}
p {padding-bottom:20px}

.example-full-width {
  width: 100%;
}
