<kendo-grid
  [data]="view"
  [autoSize] = "true"
  (edit)="editHandler($event)" (remove)="removeHandler($event)"
  (add)="addHandler()"
>
  <ng-template kendoGridToolbarTemplate>
    <button kendoGridAddCommand >Add new</button>
  </ng-template>
  <kendo-grid-column field="id" title="ID" width="60px"></kendo-grid-column>
  <kendo-grid-column field="inspectionExpiry.expirationDate" title="Technical inspection"></kendo-grid-column>
  <kendo-grid-column field="insuranceExpiry.expirationDate" title="Insurance"></kendo-grid-column>
  <kendo-grid-column field="registrationNumber" title="Registration"></kendo-grid-column>
  <kendo-grid-command-column title="command" width="220">
    <ng-template kendoGridCellTemplate>
      <button kendoGridEditCommand [primary]="true">Edit</button>
      <button kendoGridRemoveCommand>Delete</button>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>

