/*#form_1 p {padding-bottom:0}
#form_1 .button2 {margin-top:-5px;padding:0 26px}
#form_1 .input {height:17px;background:none;color:#9d9fa2;font:14px Arial,Helvetica,sans-serif;padding:2px 15px}
#form_1 .input1 {width:205px}
#form_1 .input2 {width:83px}
#form_1 .bg {background:#fff;border-top:1px solid #ccc;border-left:1px solid #ccc;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;position:relative;margin-bottom:8px}
#form_1 .radio {width:92px;float:left}
#form_1 .radio input {vertical-align:middle;float:left;line-height:20px}
.button1:hover {background:#202225}
.button2:hover {background:#1f759b}
.button1, .button2 {float:right;background:url(../../images/button1_bg.gif) top repeat-x;font-size:16px;color:#fff;line-height:30px;text-decoration:none;text-transform:uppercase;font-weight:400;padding:0 20px;margin-left:10px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;position:relative}
.button2 {background:url(../../images/button2_bg.gif) top repeat-x}
.wrapper {width:100%;overflow:hidden}
.left {float:left}
.right {float:right}
*/
.example-wrapper { min-height: 280px; align-content: flex-start; }
.example-wrapper p, .example-col p { margin: 0 0 10px; }
.example-wrapper p:first-child, .example-col p:first-child { margin-top: 0; }
.example-col { display: inline-block; vertical-align: top; padding-right: 20px; padding-bottom: 20px; }
