<form  [formGroup]="form" (ngSubmit)="onSubmit()" >
  <div class="example-wrapper">
  <div class="row">
    <div class=" col-xs-12 col-sm-12 example-col">
      <label>
        Leaving From:
        <kendo-combobox
          [data]="cityList"
          [allowCustom]="false"
          [placeholder]="'City name'"
          [suggest]="true"
          textField="name"
          valueField="value"
          formControlName="leavingFrom"
          required
        >
        </kendo-combobox>
      </label>
    </div>


    <div class=" col-xs-12 col-sm-12 example-col">
        <label>
          Leaving To:
          <kendo-combobox
            [data]="cityList"
            [allowCustom]="false"
            [placeholder]="'City name'"
            [suggest]="true"
            textField="name"
            valueField="value"
            formControlName="leavingTo"
            required
          >
          </kendo-combobox>
        </label>
    </div>
    <div class=" col-xs-12 col-sm-12 example-col">
      <label>
        Select Date:
      <kendo-datepicker
        [format]="format"
        formControlName="data"
        [min]="min"
        required
      >
      </kendo-datepicker>
      </label>
    </div>
    <div class=" col-xs-12 col-sm-12 example-col">
    <label>
      Time From:
      <kendo-timepicker
        formControlName="from"
        [min]="min"
        [max]="max"
        [format]="'HH:mm'"
        required
      ></kendo-timepicker>
    </label>
    </div>
    <div class=" col-xs-12 col-sm-12 example-col">
      <label>
        Time To:
        <kendo-timepicker
          formControlName="to"
          [min]="min"
          [max]="max"
          [format]="'HH:mm'"
          required
        ></kendo-timepicker>
      </label>
    </div>

  <!--<div class="col-xs-12 col-sm-12 example-col">
    <label>
      Passenger(s):
    <kendo-numerictextbox
      formControlName="passengers"
      [min] = '1'
      [max]="100"
      [autoCorrect]="true"
      [format]="'n0'"
      required
    ></kendo-numerictextbox>
    </label>
  </div>-->

  <div class="col-xs-12 col-sm-12 example-col">
    <button type="submit" class="btn btn-dark">Search</button>
  </div>
</div>
  </div>
</form >


