<div class="body1">
  <div class="main">
    <!-- header -->
    <header>
      <div class="wrapper">
        <h1>
          <a href="" id="logo"></a><span id="slogan">PARADISE TRIP</span>
        </h1>


        <div class="right">
          <nav id="top_nav">
            <a href="" id ="user"></a>
          </nav>
          <nav>
            <ul id="menu">
              <li id="menu_active"><a href="">Home</a></li>
              <li><a href="">test</a></li>
              <li><a href="">test</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
  </div>
</div>
<div class="main">
  <div id="banner">
    <div class="text1">
      COMFORT<span>Guaranteed</span>

    </div>

  </div>
</div>
<!-- / header -->
<div class="main">
  <!-- content -->
  <section id="content">
    <article class="col1">
      <div class="pad_1">
        <h2>Your Planner</h2>
        <app-search-form
          (track) = "showResults($event)"
        ></app-search-form>
        <h2>Rabaty</h2>
        <p>
          -10% for registered users!
        </p>
        <div class="wrapper pad_bot2"><a href="#" class="button2">Read More</a></div>
      </div>
    </article>
    <article class="col2 pad_left1" *ngIf="isLoaded">
      <h2>{{data[0].leavingFrom}} - {{data[0].leavingTo}}</h2>
      <kendo-grid [data]="data">
        <!--<kendo-grid-column field="id" title="ID" width="50px">
        </kendo-grid-column>-->
        <kendo-grid-column field="leavingFrom" title="From" >
        </kendo-grid-column>
        <kendo-grid-column field="leavingTo" title="To">
        </kendo-grid-column>
        <kendo-grid-column field="data" title="Data">
        </kendo-grid-column>
        <kendo-grid-column field="numberOfStops" title="Stops" width="70px">
        </kendo-grid-column>
        <kendo-grid-column field="travelTime" title="Travel Time" width="100px">
        </kendo-grid-column>

        <ng-template kendoGridDetailTemplate let-dataItem>
          <section *ngIf="dataItem" >
            <div style="height: 4.5rem;">
            <div class="sidebar-left">
            <div class="row">
              <div class="col-6">
                <p><strong>From:</strong> {{dataItem.leavingFrom}} </p>
              </div>
              <div class="col-6">
                <p><strong>Data:</strong> {{dataItem.data}} </p>
              </div>
              </div>
            <div class="row">
              <div class="col-6">
                <p><strong>To:</strong> {{dataItem.leavingTo}} </p>
              </div>
              <div class="col-6">
                <p><strong>Time:</strong> {{dataItem.time}} </p>
              </div>
            </div>
              </div>
            <div class="sidebar-right">
              <button type="button" class="btn btn-dark btn-sm">Buy a ticket</button>
            </div>
              </div>
          </section>
        </ng-template>
      </kendo-grid>
    </article>


  </section>
  <!-- / content -->
</div>
<div class="body2">
  <div class="main">
    <!-- footer -->
    <footer>

    </footer>
    <!-- / footer -->
  </div>
</div>
