<p class="text-xs-center">Registration for access...</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()" >
  <div
    class="form-group"
    [ngClass]="{'has-error': form.get('email').invalid && form.get('email').touched}"
  >
    <label for="email">Email</label>
    <input
      type="text"
      class="form-control underlined"
      id="email"
      placeholder="Enter your email"
      formControlName="email"
    >
    <span
      class="form-help-text"
      *ngIf="form.get('email').invalid && form.get('email').touched"
    >
      <span *ngIf="form.get('email')['errors']['required']">Email cannot be empty.</span>
      <span *ngIf="form.get('email')['errors']['email']">Enter the correct email.</span>
      <span *ngIf="form.get('email')['errors']['sameEmail']">Email already taken.</span>
    </span>
  </div>
  <div
    class="form-group"
    [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}"
  >
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control underlined"
      id="password"
      placeholder="Enter your password"
      formControlName="password"
    >
    <span
      class="form-help-text"
      *ngIf="form.get('password').invalid && form.get('password').touched"
    >
      <span *ngIf="form.get('password')['errors']['required']">Password cannot be empty.</span>
      <span *ngIf="form.get('password')['errors']['minlength'] && form.get('password')['errors']['minlength'] ['requiredLength']">
        The password must contain at least
        {{form.get('password')['errors']['minlength'] ['requiredLength']}}
        characters. Now {{form.get('password')['errors']['minlength'] ['actualLength']}}
      </span>
    </span>
  </div>
  <div
    class="form-group"
    [ngClass]="{'has-error': form.get('position').invalid && form.get('position').touched}"
  >
    <label for="position">Position</label>
    <input
      type="text"
      class="form-control underlined"
      id="position"
      placeholder="Enter your position"
      formControlName="position"
    >
    <span
      class="form-help-text"
      *ngIf="form.get('position').invalid && form.get('position').touched"
    >
      Name cannot be empty
    </span>
  </div>

  <div class="form-group">
    <button
      type="submit"
      class="btn btn-block btn-primary"
      [disabled]="form.invalid"
    >
      Sign up now</button>
  </div>
  <div class="form-group">
    <p class="text-muted text-xs-center">
      Already have an account?
      <a [routerLink]="'/auth/login'">
        Sign in!
      </a>
    </p>
  </div>
</form>
