<kendo-grid
  [data]="view"
  [autoSize] = "true"
  (edit)="editHandler($event)" (remove)="removeHandler($event)"
  (add)="addHandler()"
>
  <ng-template kendoGridToolbarTemplate>
    <button kendoGridAddCommand>Add new</button>
  </ng-template>
  <kendo-grid-column field="login" title="Login"></kendo-grid-column>
  <kendo-grid-column field="name" title="Name"></kendo-grid-column>
  <kendo-grid-column field="surname" title="Surname"></kendo-grid-column>
  <kendo-grid-column field="email" title="Email"></kendo-grid-column>
  <kendo-grid-column field="isWorker" title="IS Worker"></kendo-grid-column>
  <kendo-grid-command-column title="command" width="220">
    <ng-template kendoGridCellTemplate>
      <button kendoGridEditCommand [primary]="true">Edit</button>
      <button kendoGridRemoveCommand>Delete</button>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>

<app-edit-user-form [model]="editDataItem" [isNew]="isNew"
                      (save)="saveHandler($event)"
                      (cancel)="cancelHandler()">
</app-edit-user-form>
